
$banner-a-width:20%;
$mediaBig-checked-a-color:#fff;
$mediaBig-checked-a-background:#000;
$mediaBig-a-color:#656565;
$mediaBig-a-fontsize:22px;
$mediaBig-a-borderBottom:1px solid #ccc;
$mediaBig-a-hover-color:#ff7838;
$mediaSmall-navbar-header-background:#222;
$mediaBig-carousel-img-height:500px;
$mediaSmall-carousel-img-height:300px;

body{
	background-color:#f5f5f5;
}
@media screen and (min-width:767px) {
.wrapper{

	.top{
		width: 100%;
		position: relative;
		top: 100px;
		.container{
			.navbar-default{
				background:none;
				border:none;
				position:relative;
				top: 10px;
				.navbar-header{
					width:100%;
					.navbar-toggle{
					}
					.navbar-brand{
						width:100%;
						height: 100%;
						display: inline-block;
						
						position:relative;
						top: -90px;
						left: 45%;
						.fa{
							position:relative;
							z-index: 99;
						}/* fa */
						.title{
							position:absolute;
							letter-spacing: 5px;
							margin-left: 80%;
							font-size: 36px;
							font-weight: bold;
							font-family: "微软雅黑";
							width: 100%;
							line-height: 1.2;
						}/* title */
					}/* navbar-brand */
					.navbar-collapse{
						.navbar-nav{
							width: 100%;
							.checked{
								a{
									color: $mediaBig-checked-a-color;
									background:$mediaBig-checked-a-background;
									&:hover{
										color: $mediaBig-checked-a-color;
									}
								}/* a */
							}/* checked */
							li{
								display: inline-block;
								width: $banner-a-width;
								a{	
									color: $mediaBig-a-color;
									display: inline-block;
									width: 90%;
									text-align:center;
									font-size:$mediaBig-a-fontsize;
								    border-bottom:$mediaBig-a-borderBottom;
								    &:hover{
								    	color:$mediaBig-a-hover-color;
								    }
								}/* a */
							} /* li */ 
						}/* navbar-nav */
					}/* navbar-collapse */	
				}/*navbar-nav */
			}/* navbar-default */
		}/* container */
	}/* top */
}/* wrapper */


/* 滚动图片 */
.carousel{
	position:relative;
	top:100px;
	width:80%;
	margin:0 auto;	
	overflow:hidden;
	height:$mediaBig-carousel-img-height;
	

} 
	
	.carousel .item img{
		width: 100%; 

	}
	.carousel-indicators li{
		box-shadow:1px 1px 20px #000;
	}
	.carousel-caption{
		position:absolute;
		top: 10%;
		left: 10%;
		color: #fff;
		font-size: 32px;
		text-shadow: 1px 1px 5px #000;
		
		width: 100%;
		height: 100%;



	}

					
					/* 图标 */
					
}/* end min-width:767px */
/* 导航栏响应式 */
 @media screen and (max-width:768px){
.navbar-default{
	margin:0;
}

	.navbar-header{
		background:$mediaSmall-navbar-header-background;
		.navbar-collapse{
			width: 100%;
			border:none;
		}
		
	}  

.wrapper .top .navbar-default .navbar-header .checked a {
    color:$mediaBig-a-hover-color;
    background: $mediaBig-checked-a-background;
  }
	 .wrapper .top .navbar-default .navbar-header li a {
	 	color: $mediaBig-checked-a-color;
	 	&:hover{
	 		color:$mediaBig-a-hover-color;
	 	}


	 }

	/* .navbar-header .title{
				position:absolute;
				top: 25%;
				left: 10px;
				font-size: 20px;
				font-weight: normal;
				color:#fff;
					} */
				.carousel{
					position:relative;
					top:0px;
					width:100%;
					margin:0 auto;
					height:$mediaSmall-carousel-img-height;
					overflow: hidden;

				}
				.carousel .item{
						width: 100%;
					
						
					}
					.carousel .item img{
						width: 100%;
						
					}


	.carousel-indicators li{
		box-shadow:1px 1px 20px #000;
	}
					
					/* .icon{
						position:relative;
						top: 0px;
						left: 0;
						width: 80%;
						

					}
 */
					.title{
						
							display: none;
					}

					.fa{

						position:relative;
						font-size: 45px;
						position:absolute;
						top: 0;
						z-index: 99;
						color:#167730;
					}
					
				/* 	.icon{
						position:relative;
						top: -90px;
						left: 45%;

					}
					/* 图标 */
					/* .fa{
						position:relative;
						
						z-index: 99;
					}
					.title{
						position:absolute;
						letter-spacing: 5px;
						margin-left: 80%;
						font-size: 36px;
						font-weight: bold;
						font-family: "微软雅黑";
						width: 100%;
						line-height: 1.2;
					} */ 
		
}/* end 导航栏响应式 */



/*


	.navbar-toggle{
		
		opacity: 0.5;
	}
	.navbar-header li{
		background: #red;
	}
	.navbar-header a{
		display: block;
		
	}

} */

				